html
    head
        link(rel='stylesheet', href='/css/homepage.css')
        title  
                Homepage
    body
        div(id='main')
            p
                |Login
            form(method='POST')
                input(name='username' placeholder='Username')
                input(name='password' placeholder='Password')
                button(name='submit' type='submit')
                    |Login